 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');


html,body{
    height: 100%;
    width:100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;

}
.left img {
    height: 65px;
    width:100px;    
}

 .conatiner{
   padding: 0 10px;
    /* margin:13px 0px; */
    
  }

 nav ul li{
    list-style: none;
    padding: 14px;
 }
.flex{
    padding-left: 24px;
    font-size: 14.5px;
    font-weight: bold;
}
.space-between{
    justify-content: space-between;

}
.mx-2{
    margin-left: 15px;
    margin-right: 23px;
    font-weight: bold; 
    padding-right: 22px;
   
    
    
}
.profile, .wishlist, .bag {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profile img, .wishlist img, .bag img {
    width: 24px;
    height: 24px;
   
}

.bag .notification {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: rgb(244, 6, 6);
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}

.section1{
    background:#fffafa ;
    
    margin-left: 0px;
    margin-right: -10px;
    
    width: 50 px;

} 


header{
    
    position: sticky;
    top: 0;
    background: white;
    font-size: 13px;
    height: 90px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.rightBox{
    display: flex;
    margin: 12px;
}

.search{
    width: 425px;
    border-radius: 3px;
    background: rgb(249, 249, 249);
    height: 30px;
    border: .5px solidgrey;
}
.homeImg{
    width: 99vw;
    margin-top: 25px;
}
.homeiteam{
    width: 16.2vw;
}
.homeheading{
    width:22vw;
    height: 3vw;
    margin:25px -10px 20px;
}
.homeoff{
    width: 18.5vw;
    margin: 30px -21px;
}
.homeheading1{
    width: 85vw;
    height: 10.5vw;
    margin: -10px -20px -8px;
    }

.lasthome{
        width: 100vw;
    height: 30vw;
    margin: -17px -10px 20px;
    }


    
footer{
    margin: 10px 555px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
 }  
 @media (max-width: 500px) {
    header {
        height: 90px;
    } 
    .left {
        width: 479px;
    height: 61px;
    }
   
 }
 
 /* Media query for screens with a width of 1550px or less */
 @media (max-width: 1200px) {
    header {
        height: 124px;
    } 


   
        nav {
        flex-direction: column;
        align-items: center;
    }  
    
    .right {
        flex-direction: column;
        width: 67vw;
    }

    .rightBox {
        display: flex;
        margin: 12px;
    }

    .search {
        width: 57vw;
        margin-left: -6px;
    }

    nav ul li {
        list-style: none;
        padding: 16px;
        font-size: 7px;
    }

    .left img {
        height: 46px;
        width: 53px;
        margin: -29px -3px -38px;
    }
}
